# =======================
# General
# =======================
*.log
*.pyc
*.swp
*.class
.DS_Store
.env
*.iml

# IDEs
.idea/
.vscode/
.atom/
.history/
.svn/

# =======================
# Flutter / Dart
# =======================
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
**/build/
**/ios/Flutter/.last_build_id
**/doc/api/

# Firebase configs 
firebase_options.dart
firebase.json
google-services.json
ios/Runner/GoogleService-Info.plist

# Obfuscation / Symbolication
app.*.symbols
app.*.map.json

# Android-specific
android/app/debug/
android/app/profile/
android/app/release/

# Flutter iOS-specific
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec/

# =======================
# Flask / Python
# =======================
__pycache__/
*.pyc
*.pyo
instance/
.env
config.py  # Nếu chứa thông tin nhạy cảm

# =======================
# VSCode/AndroidStudio Cache 
# =======================
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/ios/Flutter/Flutter.framework
flutter_app/ios/Flutter/Flutter.podspec
